model: ""
gen_cfg:
  n: 1
  temperature: 0.2
prompt_options:
  include_hint: false
  hint_template_key: selected
  require_hint_citations: false
  instruction_key: default
  system_prompt_key: default
error_feedback: all
num_feedback_passes: 1
include_past_outcomes: true
include_reselected_lessons: false
